.CardDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6rem 1rem;
  padding: 1rem;
}

.CardDetails img {
  object-fit: cover;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.details-container {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #222;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  background-color: #f7f7f7;
}

.details-container p {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}


/* Between 681px and 800px */
@media screen and (681px <= width <= 850px) {
  .CardDetails {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 6.5rem 1rem;
  }

  .CardDetails img {
    height: 300px;
  }

  .CardDetails div {
    flex: 1 0 45%;
    margin: 0;
    padding: 0;
  }

  .details-container {
    margin-top: 0;
  }
}

/* Between 851px and 1100px */
@media screen and (851px <= width <= 1100px) {
  .CardDetails {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 6.5rem 1rem;
  }
  .CardDetails img {
    height: 400px;
  }

  .CardDetails div {
    flex: 1 0 30%;
  }
}

/* Over 1101px */
@media screen and (width >= 1101px) {
  .CardDetails {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 7rem 1rem;
  }
  .CardDetails img {
    height: 500px;
  }

  .CardDetails div {
    flex: 1 0 25%;
  }
}